<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xifuyin.tumour.com.a51ehealth.kotlin_simple">
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- SD 卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/iconapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <!--闪屏-->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页-->
        <activity android:name=".MainActivity" />
        <!--视频播放详情-->
        <activity
            android:name=".module.home.view.VideoDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <!--分类详情-->
        <activity android:name=".module.find.view.ClassifyDetailActivity" />
        <!--关于作者-->
        <activity android:name=".AboutAuthorActivity" />
        <!--测试第三方登录页面-->
        <activity android:name=".module.me.view.TestThereLoginActivity" />

        <!--友盟多渠道打包，包括初始化传递的appkey和channel的名称-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b61764ef43e483fda000131" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

    </application>

</manifest>